li {
    list-style-type: none;
    padding-bottom:30px;
    position:relative;
    margin-bottom: 5px;
}
button,
li{
    border: solid 1px teal;

}
p,
label,
h2,
option,
select,
button
{
    color:teal;
    background-color:white;
}
.wrapper,
button,
li
{
    padding: 5px 10px;
}
.complete
{
    position:absolute;
    left: 90%;
    top:20%;
}

.red:before{
    content: '\01F534';
}
.yellow:before{
    content: '\1F7E1';
}
.green:before{
    content: '\1F7E2';
}